.faq {
  color: $basic-blue;
  background-color: var(--primary-bg);
}

.faq__container {
  padding: 70px 15px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 60px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1366px;
    padding: 100px 103px 100px 100px;
  }
}

.faq__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 860px;
    gap: 40px;
  }
}

.faq__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: $basic-blue;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.faq__tabs {
  margin: 0 0 35px;
  padding: 0;
  list-style-type: none;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
  }
}

.faq__tabs-item {
  color: $basic-blue;
  background-color: none;
}

.faq__tab {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 14px 23px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(16, 38, 84, 0.2);
  color: $basic-blue;

  &:hover {
    border: 1px solid $basic-blue;
  }

  &:focus {
    border: 1px solid $basic-blue;
  }

  &:disabled {
    border: 1px solid rgba(16, 38, 84, 0.2);
    color: #c8c9cc;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    min-height: 54px;
  }
}

.faq__tab--active {
  background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  color: $basic-white;
  border: none;

  &:hover {
    border: none;
  }

  &:focus {

  }
  &:active {

  }

  &:disabled {

  }
}

.faq__question {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  padding: 20px 0;
  border-top: 1px solid var(--divider);

  @media (min-width: $tablet-width) {
    min-height: 91px;
    padding-top: 36px;
    padding-bottom: 8px;
  }
}

.faq__question:first-child {

  @media (min-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.faq__question:last-child {

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 27px;
  }
}

.faq__question summary {

  span {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.faq__question:last-child {
  border-bottom: 1px solid var(--divider);
}

.faq__accordion {
  text-align: left;
}

.faq__question[open] summary {
  margin-bottom: 20px;
}

.faq__question summary {
  list-style: none;
  position: relative;
  max-width: 260px;
  cursor: pointer;

  span {
    display: block;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 650px;
  }

  @media (min-width: $desktop-width) {
    max-width: 830px;
  }
}

.faq__question:last-child summary {

  @media (min-width: $tablet-width) {
    span:last-child {
      display: block;
    }
  }
}

.faq__question summary::after {
  content: "";
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
}

.faq__question[open] summary::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    right: -27px;
  }
}

.faq__question[open] summary::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  mask: url("/img/sprite/minus.svg") no-repeat center;
  background-color: $basic-white;
  z-index: 999;

  @media (min-width: $tablet-width) {
    mask-size: 20px 20px;
    right: -18px;
  }
}

.faq__question:not([open]) summary::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  background-color: transparent;
  border: 1px solid $basic-blue;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    right: -27px;
    top: calc(50% - 1px);
  }
}

.faq__question:not([open]) summary::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: -25px;
  mask: url("/img/sprite/plus.svg") no-repeat center;
  background-color: var(--btn-border);

  @media (min-width: $tablet-width) {
    mask-size: 20px 20px;
    right: -18px;
  }
}

.faq__question:not([open]):hover summary::after {
  background-color: var(--btn-border);
  border: none;
}

.faq__question:not([open]):focus summary::after {
  background-color: var(--divider);
  border: 1px solid $basic-blue;
}

.faq__question:not([open]):hover summary::before {
  mask: url("/img/sprite/plus.svg") no-repeat center;
  background-color: $basic-white;
  z-index: 999;

  @media (min-width: $tablet-width) {
    mask-size: 20px 20px;
  }
}

.faq__question:not([open]):focus summary::before {
  mask: url("/img/sprite/plus.svg") no-repeat center;
  background-color: $basic-white;
  z-index: 999;
}

.faq__answer {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin: 0;

  span {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    max-width: 570px;
    line-height: 133%;
  }
}
