.features {
  display: none;
}

.features__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: $basic-blue;
}

.features__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__left-block,
.features__right-block {
  flex: 1;
  margin-right: 20px;
}

.features__center-block {
  flex: 1;
  text-align: center;
  background-color: var(--btn-border);
}

.features__list {
  list-style: none;
  padding: 0;
}

.features__list-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  background: linear-gradient(129deg, #d10a42 0%, #0041ca 27%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--desc);
  }
}

.features__list-item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: $basic-blue;
}

.features__list-item-description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: $basic-blue;
}

.features__center-content {
  font-size: 24px;
  font-weight: bold;
  color: $basic-white;
}

.features__center-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;

  span {
    font-size: 22px;
  }
}

.features__center-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
}

