.features {
  background-color: var(--primary-bg);

  @media (min-width: $desktop-width) {
    padding: 100px 0 100px 0;
  }
}

.features__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    max-width: 1170px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.features__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: $basic-blue;
  margin: 0;
  text-align: center;
  padding-top: 40px;

  @media (max-width: $desktop-width) {
    padding: 0;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    max-width: 320px;
    margin: 0 auto;
  }
}

.features__list-item {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 339px;
    display: flex;
  }
}

.features__list-item:not(:last-child) {
  margin-bottom: 35px;
}

.features__list-item-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  background: linear-gradient(137deg, #d10a42 32%, #0041ca 45%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 0 12px 0;

  span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--desc);
    display: block;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-top: -5px;
    margin-right: 14px;
  }
}

.features__list-item-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: $basic-blue;
  margin: 0 0 12px 0;
}

.features__list-item-description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: $basic-blue;
  margin: 0;
}

.features__center-content {
  font-size: 24px;
  font-weight: bold;
  color: $basic-white;
  padding: 30px 15px 40px 15px;
  max-width: 320px;
  margin: 0 auto;
  min-height: 225px;
}

.features__center-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  margin: 0;

  span {
    font-size: 22px;
    display: block;
  }
}

.features__center-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  margin: 0;
}

.features__list-item--cars {

  @media (min-width: $tablet-width) {
    margin-left: 44px;
  }
}

.features__list-item--years {

  @media (min-width: $tablet-width) {
    margin-left: 44px;
  }
}

.features__list-item-description-container {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.features__list-item-description--square {

  span {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.features__list-item-description--comfort {

  span {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.features__list-item-description--years{

  span {
    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.features__center-block {
  flex: 1;
  text-align: center;
  background-color: var(--btn-border);

  @media (min-width: $tablet-width) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

.features__list-item--square {

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
  }
}

.features__list-item--cars {

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
  }
}

.features__list-item--comfort {

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1;
  }
}

.features__list-item--years {

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
  }
}

