.games {
  color: $basic-white;
  background-color: blue;
}

.games__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 112%;
  text-transform: uppercase;
}

.games__list-term {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}

.games__list-detail {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.games__list-detail-reduce-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
}

.games__button {
  width: 210px;
  height: 60px;
}
