.input-control__label {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  opacity: 0.4;
}

.input-control__input {
  background-color: transparent;
  border: none;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--divider);
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: 0;
  color: var(--font-family);
}

.input-control__input.error {
  border-bottom-color: var(--play-btn);
}

.input-control__error {
  color: var(--play-btn);
  margin-top: 10px;
}

.input-control__input:focus {
  color: $basic-white;
  opacity: 0.7;
}

.form__input-control:hover .input-control__input {
  border-bottom: 1px solid $basic-white;
}

.form__input-control:focus .input-control__input {
  border: 1px solid $basic-white;
}

.form__input-control:active .input-control__input {
  border-bottom: 1px solid $basic-white;
}

.input-control__input:disabled {
  opacity: 0.3;
}

.input-control__input::placeholder {
  color: $basic-white;
}

.input-control__input:focus::placeholder {
  opacity: 0.7;
}
