.logo-links {
  background-color: var(--dark);
  padding: 40px 15px 39px 15px;

  @media (min-width: $tablet-width) {
    padding: 44px 15px 18px 15px;
  }
}

.logo-links__container {
  max-width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 678px;
    display: grid;
    grid-template-columns: repeat(3, 110px 463px 105px);
    grid-auto-flow: dense;
  }
}

.logo-links__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $basic-white;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px;

  &:hover {
    border-bottom: 1px solid #ffffff;
  }

  &:focus {
    border: 1px solid #ffffff;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 157%;
    padding: 14px;
  }
}

.logo-links__text-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  grid-auto-flow: dense;
  list-style-type: none;
  margin-left: -5px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, auto);
    margin-left: 20px;
    margin-right: 20px;
  }
}

.logo-links__text-links-item:nth-child(2) {
  margin-left: -25px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.logo-links__text-links-item:nth-child(3) {
  margin-left: -13px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.logo-links__text-links-item:nth-child(5) {
  margin-left: -13px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.logo-links__image-links {
  display: grid;
  grid-template-columns: 25px 25px 25px;
  grid-auto-flow: dense;
  column-gap: 20px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    column-gap: 15px;
  }
}

.logo-links__logo {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;
  }
}

.logo-links__logo-holder {
  margin-bottom: 12px;
}


.logo-links__social {
  background-color: $basic-white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--divider);
  }

  &:focus {
    background-color: var(--price);
  }

  &:active {
    background-color: $basic-blue;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-color: $basic-white;
  }
}

.logo-links__social--vk {
  &::after {
    width: 13px;
    height: 8px;
    mask: url("../img/sprite/icon-vk.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--dark);
  }
}

.logo-links__social--ok {
  &::after {
    width: 10px;
    height: 17px;
    mask: url("../img/sprite/icon-ok.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--dark);
  }
}

.logo-links__social--reddit {
  &::after {
    width: 15px;
    height: 15px;
    mask: url("../img/sprite/icon-reddit.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--dark);
  }
}


