.offers {
  color: $basic-blue;
}

.offers__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

.offers__main-wrapper {
  background-color: var(--play-btn);
  color: $basic-white;
}

.offers__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
}

.offers__subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.offers__description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
}

.link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: $basic-white;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $basic-white;
  }
}

.offers__second-link {
  color: var(--btn-border);

  &:before {
    background-color: var(--divider);
  }
}

.offers__second-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: var(--btn-border);
}

.offers__second-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  color: var(--btn-border);
}
