.page-header {
  background-color: blue;
  color: $basic-white;
}

.page-header__phone {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: $basic-white;
  text-decoration: none;
}

.page-header__advantages {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.page-header__location-city {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

.page-header__location-fitness {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
