.swiper {
  color: $basic-blue;
}

.swiper__holder {
  padding: 43px 46.5px 40px 46.5px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 30px 0 59px 29px;
    max-width: 623px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 100px 0 100px 20px;
  }
}

.swiper-wrapper {
  max-width: 227px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: none;
  }
}

.swiper__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-transform: none;
  text-align: center;
  margin: 0 0 19px 0;

  @media (min-width: $tablet-width) {
    font-size: 54px;
    margin: 0 0 45px -27px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: -1px;
  }
}

.swiper-container {
  width: 100%;
  min-height: 280px;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  position: relative;

  @media (width <= 767px) {
    &:nth-child(3) {
      order: -1;
    }
  }
}

.swiper__img {
  min-height: 280px;

  @media (min-width: $tablet-width) {
    min-height: 300px;
  }
}


.swiper__img-jury {
  object-fit: cover;
  display: block;

  @media (min-width: $desktop-width) {
    min-height: 300px;
  }
}

@media (width >= 768px) and (width <= 1365px) {
  .swiper-slide {
    width: 50%;
  }
}

.swiper-slide {

  @media (min-width: $tablet-width) {
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 5px;
  }
}

.swiper-slide__info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(16, 38, 84, 0.89);
  box-shadow: 0 0 35px 0 rgba(42, 59, 99, 0.17);
  color: #ffffff;
  width: 100%;
  min-height: 280px;
  max-width: 227px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 260px;
    min-height: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.swiper-slide__info-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  margin: 45px 0 8px;
}

.swiper-slide__info-description {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #b6bdcc;
  margin: 0 auto 33px;
  max-width: 140px;
}

.swiper-slide__info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.swiper-slide.expanded .swiper-slide__info {
  display: block;
}

.swiper-slide__info-item {
  max-width: 160px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: $basic-white;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.swiper-slide__info-item-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  margin: 0;
}

.swiper-slide.expanded {
  height: 280px;

  @media (min-width: $tablet-width) {
    height: 300px;
  }
}

.swiper__slide-caption {
  position: absolute;
  bottom: 2px;
  left: 114px;
  transform: translateX(-50%);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: $basic-white;
  text-align: center;
  min-width: 200px;

  @media (min-width: $tablet-width) {
    left: 45%;
  }

  @media (min-width: $desktop-width) {
    left: 44%;
  }
}

.swiper-slide.expanded .swiper__slide-caption {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  cursor: pointer;
  z-index: 10;
  display: block;
  border-radius: 100%;

  &:hover {
    border: 1px solid $basic-blue;
    border-radius: 100%;
  }

  &:focus {
    background-color: var(--price-shadow);
    border: 1px solid $basic-blue;
  }

  &:active {
    background-color: $basic-blue;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: calc(50% - (-7px));
  }
}


.swiper-button-prev {
  left: calc(50% - 350px);

  @media (min-width: $tablet-width) {
    left: calc(50% - 355px);
  }
  @media (min-width: $desktop-width) {
    top: calc(50% + (-10px));
    transform: translateY(50%);
    left: calc(50% - 652px);
  }
}

.swiper-button-next {
  right: calc(50% - 350px);

  @media (min-width: $tablet-width) {
    right: calc(50% - 361px);
  }
  @media (min-width: $desktop-width) {
    top: calc(50% + (-10px));
    transform: translateY(50%);
    right: calc(50% - 658px);
  }
}

.swiper-button-next.disabled {
  background-color: transparent;
}

.swiper-button-prev.disabled {
  background-color: transparent;
}

.swiper-button-disabled .swiper-button-prev-inner {
  opacity: 0.3;
}

.swiper-button-prev .swiper-button-prev-inner {
  display: block;
  position: relative;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 32px;
  mask-image: url("../__spritemap#sprite-arrow-prev");
  background-color: $basic-blue;
}

.swiper-button-prev:active .swiper-button-prev-inner {
  mask-image: url("../__spritemap#sprite-arrow-prev");
  background-color: $basic-white;
}

.swiper-button-next .swiper-button-prev-inner {
  display: block;
  position: relative;
  top: 50%;
  left: 16px;
  transform: translateY(-50%) scale(-1);
  width: 18px;
  height: 32px;
  mask-image: url("../__spritemap#sprite-arrow-prev");
  background-color: $basic-blue;
}

.swiper-button-next:active .swiper-button-prev-inner {
  mask-image: url("../__spritemap#sprite-arrow-prev");
  background-color: $basic-white;
}
